.handsfree-boids-debugger-wrap
  position: fixed
  top: 0
  left: 0
  z-index: 0

.handsfree-boids-debugger-primary-canvas,
.handsfree-boids-debugger-secondary-canvas
  position: relative
  top: 0
  left: 0
  transform: scale(-1, 1)
  pointer-events: none

.handsfree-boids-debugger-secondary-canvas
  position: absolute

// Handsfree states
body.handsfree-stopped .handsfree-show-when-stopped
  display: initial
body.handsfree-started .handsfree-show-when-started
  display: initial
body.handsfree-stopped .handsfree-show-when-started
  display: none
body.handsfree-started .handsfree-show-when-stopped
  display: none
