@import 'libs'

html, body
  background: #110921

.hidden
  display: none

iframe
  width: 100%
  border: none

.flex > p a
  color: #ff5252

pre
  margin-bottom: 16px

h3 + pre,
pre + h3
  margin-top: 16px

img
  max-width: 100%
  vertical-align: middle

// Theme-Specific
// - The background is dark, but we're using a light theme, so this
//   makes it so that text not inside cards are visible 
.flex
  > h1, > h2, > p
    color: #fff

.clear:after
  content: ''
  clear: both
  display: block

.v-progress-linear__bar__determinate.info
  background: linear-gradient(to right, #ffca28 , #fb8c00, #d81b60, #e040fb, #4527a0) !important

.v-card.theme--light.primary,
.v-card.theme--light.orange,
.v-card.theme--light.pink,
.v-card.theme--light.purple
  color: #fff

  a
    color: #FFCDD2
    font-weight: bold
    text-decoration: underline

  .v-label.theme--light,
  .theme--light.v-input:not(.v-input--is-disabled) input, .theme--light.v-input:not(.v-input--is-disabled) textarea
    color: #fff !important

  .theme--light.v-input--slider:not(.v-input--is-dirty) .v-slider__thumb,
    border-color: #fff
    background: #fff

.v-list__group__items
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35)
  background: #f4f4f4

// Helpers
.unlink
  text-decoration: none
  color: initial

.navbar-pad
  padding-top: 64px

.push-t-50
  margin-top: 50%

.full-width
  width: 100%

ul
  margin-bottom: 16px

// BOIDS
// @todo Move this into the boids component
.handsfree-boids-debugger-wrap
  position: fixed
  top: 0
  left: 0
  z-index: 0

.handsfree-boids-debugger-primary-canvas,
.handsfree-boids-debugger-secondary-canvas
  position: relative
  top: 0
  left: 0
  transform: scale(-1, 1)
  pointer-events: none

.handsfree-boids-debugger-secondary-canvas
  position: absolute

/**
 * Responsive
 */
@media screen and (max-width: 960px)
  .navbar-pad
    padding-top: 48px

@media screen and (max-width: 724px)
  .navbar-pad
    padding-top: 56px