html, body
  background: #110921

.hidden
  display: none

.flex > p a
  color: #ff5252

pre
  margin-bottom: 16px

h3 + pre,
pre + h3
  margin-top: 16px

img
  max-width: 100%

.handsfree-simple-keyboard
  background: #ddd
  padding: 10px

  input
    width: 100%
    display: block
    padding: 10px
    background: #fff
    margin-bottom: 10px

  .simple-keyboard.hg-theme-default .hg-button
    height: 70px